.bundle/
log/*.log
pkg/
rdoc/
.idea

*.gem
*.rbc
.DS_Store
Gemfile.lock
doc/*
log/*
pkg/*
*.sqlite3

# Folders used by tests
spec/dummy/db/schema.rb
spec/dummy/log/*.log
spec/dummy/public/uploads
spec/dummy/public/repository_manager/repo_file/file/*
spec/dummy/uploads
spec/dummy/tmp
